card-timer {

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
        transition: 0.3s;
        background-color: #FFFFFF;
        height: 105px;
        border-radius: 3px;
        margin-bottom: 25px;

        .class-1 {
            padding: 10px;
        }
        .class-2 {
            padding: 16px;
            padding-top: 10px;
        }
    }

}
