<ion-navbar>
  <ion-row>
    <ion-col align-self-start>
      <ion-buttons start>
        <button ion-button icon-only>
          <img src="./assets/icon/tabs/avatar.png" alt="Smiley face" height="25" width="25">
        </button>
      </ion-buttons>
    </ion-col>
    <ion-title text-center>
      {{title}}
    </ion-title>
    <ion-col align-self-end>
      <ion-buttons end>
        <button ion-button icon-only>
          <img src="./assets/icon/tabs/balloon.png" alt="Smiley face" height="25" width="25">
        </button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-navbar>
